@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
  background-image: url('background.png')
}

.first-line:first-letter {
  font-size: 42px;
}

.important {
  font-size: 30px;
}

.required {
  color: red;
}

.larger-text {
  font-size: 1.6rem;
}

.countdown-timer {
  font-family: 'Poor Story', cursive;
  font-size: 3rem;
  min-height: 150px;
}

.full-date {
  font-size: 2rem;
  font-family: 'Poor Story', cursive;
}

.watch-font {
  font-family: 'Poor Story', cursive;
}

.neon-text {
  color: #000;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
}

.circle {
  position: relative;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  border: 10px solid red;
}

