@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
  background-image: url('background.png')
}

.first-line:first-letter {
  font-size: 42px;
}

.important {
  font-size: 30px;
}

.required {
  color: red;
}

.larger-text {
  font-size: 1.6rem;
}

.countdown-timer {
  font-family: 'Poor Story', cursive;
  font-size: 3rem;
  min-height: 150px;
}

.full-date {
  font-size: 2rem;
  font-family: 'Poor Story', cursive;
}

.watch-font {
  font-family: 'Poor Story', cursive;
}
